/* Css that targets whole web page */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    padding: 0;

}
.content {
    display: flex;
    flex-direction: column;

}
.sign-up-info {
    color: white;
    background-color: #3882F6;
    padding: 4px 24px;
    border-radius: 8px;
    margin-top: 8px;
    border: none;
}
/* Css that targets whole hero section */
.hero-img {
    width: 400px;
    height: 200px;
}
.top {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    height: 400px;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}
a, .hero-text {
    text-decoration: none;
    font-size: 18px;
    color: #93959a;
}
.hero-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}
.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    padding: 0 70px;
}
.hero-left {
    width: 440px;
}
/* Css that targets information section */
.info-img {
    width: 210px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}
.info {
    display: flex;
    justify-content: center;
    min-height: 350px;
    gap:40px;
    flex-wrap: wrap;
    
}
.info-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    flex-grow: 1;
    margin: 40px 0;
}
.info-text {
    text-align: center;
    width: 210px;
    color: #93959a;
   
}
/* Css that targets quote section */
.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 200px ;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}
.quote-text{
    font-size: 36px;
    color: #1F2937;

}
/* Css that targets sign-up section */
.sign-up {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}
.sign-up-box {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 120px;
    border-radius: 8px;
}
.sign-up-box h3 {
    color: #F9FAF8;
    margin: 30px 0px 0px 50px;
}
.sign-up-box  p {
    color: #F9FAF8;
    font-weight: lighter;
    margin: 5px 30px 30px 50px;
}
.sign-up-button {
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border: 1px solid #F9FAF8;
}
/* Css that targets Footer section */
.footer, .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #a8aaae;
    height: 80px;
}
/*border: 5px solid black;*/