/* Css that targets whole web page */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    min-height: 100vh;

}
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.sign-up {
    color: white;
    background-color: #3882F6;
    padding: 4px 24px;
    border-radius: 8px;
}
/* Css that targets whole hero section */
.hero-img {
    width: 400px;
    height: 200px;
}
.top {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    height: 400px;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}
a, .hero-text {
    text-decoration: none;
    font-size: 18px;
    color: #93959a;
}
.hero-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}
.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    padding: 0 70px;
}
.hero-left {
    width: 440px;
}
/* Css that targets information section */
.info-img {
    width: 150px;
    height: auto;
    border: 3px solid #3882F6;
    border-radius: 8px;
    
}
.info {
    display: flex;
    justify-content: center;
    height: 300px;
    gap:40px;
}
.info-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    flex-grow: 1;
    margin: 40px 0;
}
.info-text {
    text-align: center;
    max-width: 150px;
    color: #93959a;
}
/* Css that targets quote section */

/* Css that targets sign-up section */

/* Css that targets Footer section */
.footer, .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #a8aaae;
    height: 80px;
}
/*border: 5px solid black;*/